<% unless comment.spam? or comment.private? or comment.archived? %>
<li>
  (<%= Users.find(comment[:user_id]).username %>)
    <%= comment.body %>
  <% if logged_in? %>
  (<%= link_to "Spam?",
      [comment.article, comment],
      mehtod: :spam,
      data: { confirm: "OH, REALLY? SPAM???" } %>,
    <%= link_to "Destroy!",
      [comment.article, comment],
      mehtod: :delete,
      data: { confirm: "OH, REALLY? DESTROY???" } %>)
  <% end %>
</li>
<% end %>
