<h1>The Tinley Developer</h1>
<p>Tinley is a friendly crypto-community for developers and researchers
of blockchain technologies, maintainers of distributed infrastructure,
creators of decentralized applications and its users. We do not believe
in maximalism and welcome constructive discourse on various different
blockchains. <code>#allblockchainsarebeautiful</code></p>

<h3>Browse the Repository of <%= Article.public_count %> Articles</h3>
<ul>
  <% @articles.each do |article| %>
    <% unless article.archived? or article.private? %>
      <li>
          <%= link_to article.title, article %>
      </li>
    <% end %>
  <% end %>
</ul>

<p>
  <%= link_to "Write a new Article", new_article_path %>
</p>
