<h1>Hello, Ethereum Index!</h1>
<p>I'm running on Index Rails!</p>

<h3>Articles</h3>
<ul>
  <% @articles.each do |article| %>
    <li>
        <%= link_to article.title, article %>
    </li>
  <% end %>
</ul>
